*.bak
*.step

/3D

/Kicad Project Files/FrontIO/FrontIO-backups
/Kicad Project Files/STLink_adapter/Adapter-backups
/Kicad Project Files/Lark/Lark-backups

Kicad Project Files/Lark/~Lark.kicad_pcb.lck
Kicad Project Files/Lark/~Lark.kicad_sch.lck
Kicad Project Files/STLink_adapter/~Adapter.kicad_sch.lck

/Kicad Project Files/STLink_adapter/production
/Kicad Project Files/FrontIO/production
/Kicad Project Files/Lark/production

