/Lark/Lark-backups
*.bak
/3D
Lark/~Lark.kicad_pcb.lck
/Kicad Project Files/FrontIO/FrontIO-backups
/Kicad Project Files/STLink_adapter/Adapter-backups
/Kicad Project Files/STLink_adapter/Lark-backups
